@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-base text-ink;
}

html,
body,
#__next {
  height: 100%;
}

/* Utility helpers */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
